img {
    width: 100%;
    height: 100%;
}

.container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-rows: 10vh 100vh;
    background-color: var(--color-black);
}

.container h1 {
    text-align: center;
    align-content: center;
    color: var(--color-white);
}

.container h1 span {
    font-family: Rubik;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    align-content: center;
    color: var(--color-yellow);
}

.container .sacolaGrid {
    background-color: var(--color-white);
    height: 100%;
    display: grid;
    grid-template-rows: 80% 20%;
    box-shadow: inset 0px -21px 22px -10px rgba(0, 0, 0, 0.06);
}

.sacolaGrid .sacolaContent {
    height: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: start;
    margin-top: 4%;
}

.sacolaContent .lista {
    height: calc(100% - 3rem);
    width: calc(100% - 3rem);
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.sacolaContent .lista .miniaturaCard {
    min-height: 30%;
    display: grid;
    grid-template-columns: 25% 20% 30% 15% 10%;
    grid-template-rows: 40% 60%;
    align-items: center;
    justify-items: center;
    background-color: var(--color-grey);
    margin-bottom: 1rem;
    border-radius: 0.4rem;
}

.sacolaContent .lista .miniaturaCard img {
    width: 60%;
    grid-row-start: 1;
    grid-row-end: 3;
}

.sacolaContent .lista .miniaturaCard p {
    height: 100%;
    align-content: center;
    font-weight: bold;
    font-size: 18px;
    color: var(--color-black);
}

.sacolaContent .lista .miniaturaCard .nome {
    width: 100%;
    text-align: left;
    padding-left: 2rem;
    font-weight: bold;
    font-size: 18px;
    color: var(--color-black);
    grid-column-start: 2;
    grid-column-end: 5;
}

.sacolaContent .lista .miniaturaCard .tamanho {
    width: 100%;
    text-align: left;
    padding-left: 2rem;
}

.sacolaContent .lista .miniaturaCard .valor {
    font-weight: bold;
    font-size: 30px;
    color: var(--color-blue);
}

.sacolaContent .lista .miniaturaCard .quantidade {
    grid-column-start: 4;
    grid-column-end: 6;
}

.sacolaContent .lista .miniaturaCard .excluir {
    border: none;
    background-color: var(--color-grey);
    cursor: pointer;
}

.sacolaContent .lista .miniaturaCard .quantidade {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sacolaContent .lista .miniaturaCard .quantidade button {
    height: 30%;
    width: 15%;
    background-color: var(--color-white);
    align-content: center;
    border: none;
    transition-duration: 0.2s;
    border-radius: 0.4rem;
    cursor: pointer;
}

.sacolaContent .lista .miniaturaCard .quantidade button:hover {
    background-color: var(--color-yellow);
    color: var(--color-white);
}

.sacolaContent .lista .miniaturaCard .quantidade span {
    height: 25%;
    width: 20%;
    text-align: center;
}

.sacolaContent .valores {
    height: 40%;
    width: calc(100% - 3rem);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 30% 40%;
    justify-items: center;
    align-items: center;
    background-color: var(--color-grey);
    border-radius: 0.4rem;
}

.sacolaContent .valores p {
    height: 100%;
    width: 100%;
    align-content: center;
    font-size: 16px;
    color: var(--color-white);
    background-color: var(--color-blue);
}

.sacolaContent .valores #total,
#valorTotal {
    font-size: 22px;
    font-weight: bold;
}

.sacolaContent .valores #frete,
#valorFrete {
    background-color: var(--color-grey);
    color: var(--color-black);
}

.sacolaContent .valores #subtotal,
#frete,
#total {
    width: 80%;
    padding-left: 20%;
}

.sacolaContent .valores #valorSubtotal,
#valorFrete,
#valorTotal {
    text-align: center;
}

.sacolaGrid .botoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5% 0;
}

.sacolaGrid .botoes button {
    height: 40%;
    width: 20%;
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    background-color: var(--color-lightYellow);
    color: var(--color-black);
    transition-duration: 0.2s;
    font-size: 18px;
    font-weight: bold;
}

.sacolaGrid .botoes button:hover {
    background-color: var(--color-yellow);
    color: var(--color-white);
}

#iconeLixeiraDentroDaSacola {
    height: 50%;
    width: 50%;
}