@import "default.css";
img{
    width: 55%;
    height: 100%;
}
.container {
    width: 100%;
    display: grid;
    grid-template-rows: 10vh 70vh 70vh;
}
#title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
}
#titleContent{
    color: var(--color-white);
}
